body{
	font-family: 'Pangolin', cursive;
}
@media(min-width: 576px){
	#navbarSupportedContent{
		visibility: hidden;
	}
}
section div{
	font-size: 150%;
}
nav{
	border:4px solid black; 
}
section>article{
	background-color: grey; 
}
section a{
	text-decoration: underline;
	color: purple;
}
